<html ng-app="fscApp">
<head>
<title>FSC Files</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script type="text/javascript">
var fscApp = angular.module('fscApp', [])
.filter('fscFilters', function() {
  return function(input) {
    if ( input.length > 100 ) {
    	return [];
    }else{
    	return input ;
    }
  };
}) 
.controller('fscListCtrl', function ($scope, $http) {
	$scope.fsclist = [] ;
	$http({method: 'GET', url: 'list.json'}).
	success(function(data, status, headers, config) {
			$scope.fsclist = data ;
	}).
	error(function(data, status, headers, config) {
		console.log("error $http");
	});
});

</script>
</head>
<body ng-controller="fscListCtrl">
<p>Search FSC file: <input ng-model="query"></p>
<li ng-repeat="fsc in fsclist | filter:query | fscFilters">
	<a href="{{fsc}}" title="{{fsc}}" download>{{fsc}}</a>
</li>
</body>
</html>
